<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Alpha Blog</title>
</head>
<body>
	<h1>This is Alpha Blog.</h1>
	<h2>The #1 place for the best technology information on the web </h2>

	
	<%= link_to 'Alpha Blog', articles_path %> |
	<%= link_to 'Learn More', about_path %>

</body>
</html>

