$navbar-default-bg: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover{
	color: #fff;
	text-decoration: none;
}

.center {
	text-align: center;

}

.jumbotron {
	background-image: asset-url('jumbobg.jpg');
	background-size: cover; 
}

.jumbotron h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 3%;
}

.footer{
	padding: 1% 2% 1% 2%;
	border-top: 1px solid #eaeaea;
	color: #777;
}

.footer small{
	float: left;
}

.footer ul{
	float:right;
	list-style: none;
}


.navbar:hover {
	color: #fff;
}

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.description {
	margin-top: 0;
}






















